body {
    margin: auto;
    width: 100%;
    align-content: center;
    text-align: center;
}

a {
    color: darkred;
}

.street {
    width: 80%;
}

.icons a:hover {
    color: #333;
    transition: all 0.2s ease-out; 
}

.about {
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
}

.card-body {
    color: darkred;
}

.card-profile .card-avatar img {
    width: 100%;
    height: auto;
}

.card .card-header:not([class*=header-]) {
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, .56), 0 4px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);

}
.card-profile .card-avatar {
    max-width: 130px;
    max-height: 130px;
    margin: -50px auto 0;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, .56), 0 4px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);

}

.gallery {
    width: 80%;
    margin: auto;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}