body {
    background-color: darkolivegreen;
    margin: 0;
    align-content: center;
    text-align: center;
    color: burlywood;
    text-decoration: none;
}

head h1{
    text-decoration: none;
}

a {
    color: darkred;
}

.navbar {

    list-style: none;
    text-align: center;
    display: inline;
    margin: 0 auto;
}

.navItem {
    text-decoration: none;
    display: inline;

}
.navItem a:hover {
    color: white;
    transition: all 0.2s ease-out; 
  }

img {
    width: 100%;
}

.icons a:hover {
    color: #333;
    transition: all 0.2s ease-out; 
}


#about {
    padding-top: 100px;
    padding-bottom: 100px;
}

.abt {
    margin-bottom: 50px;
}

#cardd {
    vertical-align: middle;
}

input[type=text], [type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
input[type=submit] {
    background-color: #333;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #000;
}

  
img {
    vertical-align: middle;
    border-style: none;
}

.card-profile .card-avatar img,  .card-avatar img {
    width: 100%;
    height: auto;
    
}

.card .card-header:not([class*=header-]) {
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, .56), 0 4px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);

}
.card-profile .card-avatar,  .card-avatar {
    max-width: 130px;
    max-height: 130px;
    margin: -50px auto 0;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, .56), 0 4px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);

}

.images {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
  }

#contact {
    margin-top: 20px;
}


.container {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
    margin: auto;
    overflow: hidden;
    box-shadow: 50px 40px 115px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: black;
    color: darkolivegreen;
    text-align: center;
}

@media (min-width: 768px) {
    .col-md-6 {
        
        display: flex;
        flex: 0 0 50%;
        max-width: 50%;
    }
    
}